{
    "fullName": "{{ full_name }}",
    "uid": "{{ uid }}",
    "contactDetails": {
        "address": {
            "street": "{{ address.street }}",
            "city": "{{ address.city }}"
        },
        "emailAddress": "{{ email }}",
        "phoneNumber": "{{ phone }}"
    },
    "paymentDetails": [
     {% for details in payment_details %}
        {
            "IBAN": "{{ details.iban }}",
            "cardDetails": {
                "number": "{{ details.credit_card_number }}",
                "CVV": "{{ details.credit_card_cvv }}"
            },
            "currency": "{{ details.currency }}"
        }{% if not loop.last %},{% endif %}
     {% endfor %}
    ],
    "vehicles": [
    {% for vehicle in vehicles %}
        {
            "manufacturer": "{{ vehicle.manufacturer }}",
            "model": "{{ vehicle.model }}",
            "name": "{{ vehicle.name }}",
            "type": "{{ vehicle.type }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ],
    "lastUpdated": "{{ last_updated }}",
    "createdAt": "{{ created_at }}"
}