{
    "fullName": "${full_name}",
    "uid": "${uid}",
    "contactDetails": {
        "address": {
            "street": "${address.street}",
            "city": "${address.city}"
        },
        "emailAddress": "${email}",
        "phoneNumber": "${phone}"
    },
    "paymentDetails": [
    #foreach($details in $payment_details)
        {
            "IBAN": "${details.iban}",
            "cardDetails": {
                "number": "${details.credit_card_number}",
                "CVV": "${details.credit_card_cvv}"
            },
            "currency": "${customFunctions.mapCurrency($details.currency)}"
        }#if( $foreach.hasNext ), #end
    #end
    ],
    "vehicles": [
#foreach($vehicle in $vehicles)
    "${customFunctions.formatVehicle($vehicle.manufacturer, $vehicle.model, $vehicle.name, $vehicle.type)}"
    #if( $foreach.hasNext ), #end
#end
     ],
    "lastUpdated": "${customFunctions.timeNow()}",
    "createdAt": "${created_at}"
}